.spinWheel-container {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.spinWheel-img {
  margin: 1em;
}

.spin-btn button {
  background-color: #146531;
  color: white;
  border: #146531;
  padding: 0.5em;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
